/* Styles for Glassy Login Form */
/*--reset--*/
/* Reset CSS here */
/*--//reset--*/

/* Header */
body {
  background: url(img/bann.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header-w3l {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 4em 0;
}

.header-w3l h1 {
  font-size: 45px;
  color: #fff;
  letter-spacing: 9px;
  text-shadow: 4px 4px 3px #000;
  font-weight: 500;
  font-family: "Josefin Slab", serif;
}

/* Main Container */
.main-w3layouts-agileinfo {
  width: 30%;
  margin: 0 auto;
  padding: 4em 2em;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
}

/* Form */
.wthree-form h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.5em;
  letter-spacing: 3px;
  text-shadow: 3px 3px 4px #000;
}

/* Form Inputs */
.form-sub-w3 {
  position: relative;
  margin-bottom: 20px;
}

.form-sub-w3 input[type="text"],
.form-sub-w3 input[type="password"] {
  width: 85%;
  padding: 15px 66px 15px 19px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.16);
  border: 0;
  border-left: 2px solid #00c6d7;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #fff;
  outline: 0;
  box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  font-family: "Open Sans", sans-serif;
}

/* Form Icons */
.icon-w3 {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 53px;
  height: 50px;
  text-align: center;
  background: #00c6d7;
}

.icon-w3 i {
  color: #ffffff;
  font-size: 19px;
  line-height: 49px;
}

/* Checkbox */
.anim {
  position: relative;
  display: block;
  margin-top: 0.5em;
}

label.anim span,
label.anim a {
  color: #fff;
  font-size: 13px;
  display: inline;
  letter-spacing: 2px;
  text-transform: capitalize;
}

label.anim a {
  display: inline-block;
  text-decoration: none;
  float: inline-end;
  margin-top: 4px;
}

.anim input.checkbox:checked:after {
  transform: rotate(-45deg);
  height: 0.5rem;
  border-color: transparent;
  border-right-color: transparent;
  animation: 0.4s rippling 0.4s ease;
  animation-fill-mode: forwards;
}

/* Submit Button */
.submit-agileits {
  text-align: center;
  margin-top: 2em;
}

.submit-agileits input[type="submit"] {
  text-align: center;
  border: 0;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  padding: 14px 90px;
  background-color: rgba(0, 0, 0, 0.34);
  border: 3px solid rgba(255, 255, 255, 0.43);
  box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.71);
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
}

.submit-agileits input[type="submit"]:hover {
  color: #ffffff;
  border-color: #00c6d7;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 4em;
}

.footer p {
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: none;
}

.footer a {
  color: #00c6d7;
  transition: 0.3s all;
}

.footer a:hover {
  color: #fff;
  transition: 0.3s all;
}

/* Placeholder Color */
/* Styles for placeholder color here */

/* Responsive Code */
/* Styles for responsiveness here */
